body{
    font-family: Arial, Helvetica, sans-serif;
}
.topLogo{
    color: blue;
    font-size: 100px;
}
.topMenu{
    background : #33CCFF;
    background : rgba(51, 204, 255, 1);
    border-style : Solid;
    border-color : #16BDFF;
    border-color : rgba(22, 189, 255, 1);
    border-width : 1px;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 40px;
}
ul, li{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}
.topMenulink:link{
    text-decoration: none;
}
p{
    font-size: 30px;
    color:#525252;
}
h3{
    font-size: 40px;
    color:#525252;
}
img{
    float: right;
    width: 30%;
    height: 30%;
}
