.head{
    background-image: url(/Images/css11topimg.jpg);
    padding:15px;
    text-align:center;
}
.headLink{
    width: 100%;
    height: 40px;
    background-color: rgb(107, 228, 228);
    margin:5px;
    margin-left: 0px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.menulink{
    background-color: rgb(107, 228, 228);
    padding:8px 10px 9px 10px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color:white;
}
.menulink:hover{
    background-color: rgb(33, 148, 148);
}
.menulink:visited{
    color:white;
}
.left{
    float: left;
    width: 10%;
    height: 600px;
    background-color: rgb(137, 201, 231);
}
.content{
    float: left;
    width: 70%;
    height: 600px;
    background-color: rgb(247, 201, 231);
}
.right{
    position: relative;
    float: left;
    width: 20%;
    height: 600px;
    background-color: rgb(247, 201, 131);
}

ul,li{
    line-height: 30px;
}
.contentdiv{
    margin: 12px;
    width: 45%;
    height: 260px;
    background-color: #cccccc;
    padding: 5px;
    overflow: hidden;
}
.div1{
    float: left;
    
}
.div2{
    float: left;
}
.div3{
    float: left;
}
.div4{
    float: left;
    overflow: scroll;
}
.adv{
    height: 150px;
    margin:8px 0px 0px 8px;
    padding-top: 130px;
    width: 95%;
    border-radius: 15px;
    background-color: rgb(240, 229, 200);
    text-align: center;
}
.footer{
    width: 100%;
    height: 40px;
    background-color: rgb(49, 117, 117);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(226, 208, 42);
}