a:link{
    color: green;
    text-decoration: none;
}
a:visited{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: yellow;
    text-decoration: underline;
}