table,td,tr{
    border: black 1px solid;
    border-collapse: collapse;
}
td,tr{
    padding: 3px 20px 3px 3px;
    background-color: rgb(251, 202, 255);
}
body{
    background-color: rgb(255, 220, 174);
}
#leftcol{
    width: 400px;
}

span::after {
    padding-left: 5px;
  }
input:invalid + span::after {
content: '';
}

input:valid+span::after {
content: '✓';
}